<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>-->
    <script src="vue.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <div id="app">
        <!--文本插值-->
        {{ message }}{{name}}}
    </div>
    <script type="text/javascript">
        var app = new Vue({ //引入之後會宣告一個全域變數
            el: '#app', //元素(使用id選擇器)
            data: { //用於存取數據 在dom之內定義的變數就要在data內初始化並附值
                message: 'Hello Vue!',
                name: 'Bacon SU'
            }
        });
    </script>
</body>

</html>